.pass-word {
  width: 180px;
  height: 40px;
  font-size: 18px;
}

.strength {
  display: inline-block;
  height: 20px;
  background-color: rgb(196, 196, 196);
  width: 60px;
}

.quantity {
  background-color: rgb(232, 35, 35)
}

.easy {
  background-color: rgb(232, 35, 35)
}

.medium {
  background-color: rgb(241, 241, 0);
}

.strong {
  background-color: rgb(20, 175, 20);
}